<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	<title>activity streams - an extension to the Atom feed format to express what people are doing around web</title> 
	<style type="text/css"> 
	body {color: #FFFBFF;background-color:#79A0AF;font-family:"helvetica neue", "helvetica", arial, sans-serif;margin-left:80px;}
	a, a:visited {color:#d9e4eb;}
	h1#site-name{font-size:42px;margin-top:400px; margin-bottom: -0.2em;font-weight:normal;}
	</style> 
</head> 
<body> 
 
	<div id="header"> 
		<h1 id="site-name" style="height:80px"><span style="background: url(images/beta_sm.png) no-repeat 100% -8px; padding-right:80px;">activity streams</span></h1> 
	</div> 
	<div id="content"> 
		<p> 
			<strong>an extension to the Atom feed format to express what people are doing around the web</strong> 
		</p> 
		<p> 
			Join the <a href="http://groups.google.com/group/activity-streams/">mailing list</a>. Contribute to the <a href="http://wiki.activitystrea.ms">wiki</a>.
		</p> 
		<p> 
			The Activity Streams format has already been adopted by <a href="http://wiki.developers.facebook.com/index.php/Using_Activity_Streams">Facebook</a>, <a href="http://wiki.developer.myspace.com/index.php?title=Standards_for_Activity_Streams">MySpace</a>, <a href="http://dev.live.com/blogs/devlive/archive/2009/09/14/503.aspx" title="Live Services : Engineering the Windows Live / MySpace integration and Leveraging Activity Streams">Windows Live</a>, <a href="http://dev.opera.com/libraries/activitystream/">Opera</a>, and <a href="http://windowslivewire.spaces.live.com/blog/cns!2F7EB29B42641D59!43432.entry">many others</a>.
		</p> 
		<p> 
			Draft specs: <a href="http://martin.atkins.me.uk/specs/activitystreams/atomactivity">Activities in Atom</a>; <a href="http://martin.atkins.me.uk/specs/activitystreams/activityschema">Activity Schema</a>; <a href="http://martin.atkins.me.uk/specs/atommedia">Atom Media</a>.
		</p> 
		<p> 
			The <a href="http://feedproxy.cliqset.com/">Cliqset FeedProxy</a> converts <a href="http://www.readwriteweb.com/archives/cliqset_activity_streams_api.php" title="The Day The Highway Went Coast-to-Coast: 70+ SocNet Feeds Normalized by New API">70 typical RSS and Atom feeds from popular social networks</a> to support the Activity Streams format.
		<p> 
			An initiative from the <a href="http://diso-project.org">Diso Project</a>. <a href="http://factoryjoe.com/blog/2008/12/20/where-were-going-with-activity-streams/">Background</a>.
		</p> 
	</div> 
	
<script type="text/javascript"> 
//var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
//document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
//try {
//var pageTracker = _gat._getTracker("UA-8565377-1");
//pageTracker._trackPageview();
//} catch(err) {}
</script> 
 
</body> 
</html> 